tempo-distributed:
  multitenancyEnabled: true
  global:
    dnsService: rke2-coredns-rke2-coredns
    dnsNamespace: kube-system
  revisionHistoryLimit: 1
  search:
    enabled: true
  distributor:
    service:
      type: NodePort
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: tempo-secret
  queryFrontend:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: tempo-secret
  querier:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: tempo-secret
  compactor:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: tempo-secret
  ingester:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: tempo-secret
  metricsGenerator:
    enabled: true
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: tempo-secret
  minio:
    enabled: false
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo
        endpoint: cloud.gerega.net:39000
        access_key: ${MINIO_USERNAME}
        secret_key: ${MINIO_PASSWORD}
        forcepathstyle: true
        insecure: true
  traces:
    jaeger:
      grpc:
        enabled: true
      thriftBinary:
        enabled: true
      thriftCompact:
        enabled: true
      thriftHttp:
        enabled: true
    zipkin:
      enabled: true
    otlp:
      grpc:
        enabled: true
      http:
        enabled: true
  gateway:
    enabled: true
    ingress:
      enabled: true
      hosts:
        - host: "tempo.mattgerega.net"
          paths:
            - path: /
              pathType: Prefix
      annotations:
        kubernetes.io/ingress.class: nginx
      tls: []
