promtail:
  daemonset:
    enabled: false
  deployment:
    enabled: true
    
  config:
    clients:
    - url: 'https://loki.mattgerega.net/loki/api/v1/push'
    snippets:
      scrapeConfigs: |
        - job_name: syslog-receiver
          syslog:
            listen_address: 0.0.0.0:1514
            # Don't disconnect the forwarder
            idle_timeout: 12h
            use_incoming_timestamp: true
            labels:
              job: syslog-receiver

          # Copy syslog bits to standard labels
          relabel_configs:
            - source_labels: [__syslog_message_hostname]
              target_label: host
            - source_labels: [__syslog_message_hostname]
              target_label: hostname
            - source_labels: [__syslog_message_severity]
              target_label: level
            - source_labels: [__syslog_message_app_name]
              target_label: application
            - source_labels: [__syslog_message_facility]
              target_label: facility
            - source_labels: [__syslog_connection_hostname]
              target_label: connection_hostname
  extraPorts:
    syslog:
      name: tcp-syslog
      containerPort: 1514
      protocol: TCP
      service:
        type: NodePort

  serviceMonitor:
    enabled: true
    interval: 1m
    scrapeTimeout: 30s
  podAnnotations: 
      linkerd.io/inject: enabled