loki:
  loki:
    storage:
      bucketNames:
        chunks: loki-chunks
        ruler: loki-ruler
        admin: loki-admin
      type: s3
      s3:
        s3: http://${MINIO_USERNAME}:${MINIO_PASSWORD}@cloud.gerega.net:39000/loki
        s3forcepathstyle: true
        insecure: true
    authEnabled: false
    structuredConfig:
      table_manager:
        retention_deletes_enabled: true
        retention_period: 168h

      schema_config:
        configs:
        - from: 2023-01-01
          store: boltdb-shipper
          object_store: s3
          schema: v11
          index:
            prefix: index_
            period: 24h
          chunks:
            prefix: chunk

      limits_config:
        retention_period: 48h
        retention_stream:
        - selector: '{namespace="argocd"}'
          priority: 1
          period: 24h

  minio:
    enabled: false
  write:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: minio-secret
    persistence:
      enabled: true
      storageClass: nfs-client
  read:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: minio-secret
    persistence:
      enabled: true
      storageClass: nfs-client
  backend:
    extraEnvFrom:
      - secretRef:
          name: minio-secret
    persistence:
      enabled: true
      storageClass: nfs-client
  gateway:
    autoscaling:
      enabled: false
    ingress:
      enabled: true
      hosts:
        - host: "loki.mattgerega.net"
          paths:
            - path: /
              pathType: Prefix
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/service-upstream: "true"
      tls: []
  monitoring:
    serviceMonitor:
      enabled: true
      interval: 1m
      scrapeTimeout: 30s
