loki-simple-scalable:
  querier:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: cassandra-secret
  ingester:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: cassandra-secret
  gateway:
    ingress:
      enabled: true
      hosts:
        - host: "loki.mattgerega.net"
          paths:
            - path: /
              pathType: Prefix
      annotations:
        nginx.ingress.kubernetes.io/auth-type: basic
        nginx.ingress.kubernetes.io/auth-secret: loki-ingress-auth
        nginx.ingress.kubernetes.io/auth-realm: "Enter your credentials"
        kubernetes.io/ingress.class: nginx
      tls: []
  loki:
    revisionHistoryLimit: 1
    structuredConfig:
      storage_config:
        cassandra:
          username: cassandra
          password: ${CASSANDRA_PASSWORD}
          addresses: cassandra-headless
          auth: true
          keyspace: lokiindex

      schema_config:
        configs:
        - from: 2020-05-15
          store: cassandra
          object_store: filesystem
          schema: v11
          index:
            prefix: index_
            period: 24h
          chunks:
            prefix: chunk

      limits_config:
        retention_period: 48h
        retention_stream:
        - selector: '{namespace="argocd"}'
          priority: 1
          period: 24h
  write:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: cassandra-secret
    persistence:
      storageClass: "nfs-client"
  read:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: cassandra-secret
    persistence:
      storageClass: "nfs-client"
