loki-distributed:
  querier:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: minio-secret
    persistence:
      enabled: true
      storageClass: nfs-client
  ingester:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: minio-secret
    persistence:
      enabled: true
      storageClass: nfs-client
  distributor:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: minio-secret
  queryFrontend:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: minio-secret
  gateway:
    ingress:
      enabled: true
      hosts:
        - host: "loki.mattgerega.net"
          paths:
            - path: /
              pathType: Prefix
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/service-upstream: "true"
      tls: []
  ruler:
    enabled: true
    persistence:
      enabled: true
      storageClass: nfs-client
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: minio-secret
  loki:
    podAnnotations: 
      linkerd.io/inject: enabled
    authEnabled: false
    revisionHistoryLimit: 1
    structuredConfig:
      storage_config:
        boltdb_shipper:
          cache_ttl: 24h         # Can be increased for faster performance over longer query periods, uses more disk space
          shared_store: s3
        aws:
          s3: http://${MINIO_USERNAME}:${MINIO_PASSWORD}@192.168.1.46:9000/loki
          s3forcepathstyle: true

      table_manager:
        retention_deletes_enabled: true
        retention_period: 168h

      schema_config:
        configs:
        - from: 2020-05-15
          store: boltdb-shipper
          object_store: aws
          schema: v11
          index:
            prefix: index_
            period: 24h
          chunks:
            prefix: chunk

      limits_config:
        retention_period: 48h
        retention_stream:
        - selector: '{namespace="argocd"}'
          priority: 1
          period: 24h
      ruler:
        storage:
          type: s3
          s3:
            s3: http://${MINIO_USERNAME}:${MINIO_PASSWORD}@192.168.1.46:9000/loki
            s3forcepathstyle: true

  serviceMonitor:
    enabled: true
    interval: 1m
    scrapeTimeout: 30s
