loki-simple-scalable:
  querier:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: cassandra-secret
  ingester:
    extraArgs:
      - -config.expand-env=true
    extraEnvFrom:
      - secretRef:
          name: cassandra-secret
  gateway:
    ingress:
      enabled: true
      hosts:
        - host: "loki.mattgerega.net"
          paths:
            - path: /
              pathType: Prefix
      annotations:
        nginx.ingress.kubernetes.io/auth-type: basic
        nginx.ingress.kubernetes.io/auth-secret: loki-ingress-auth
        nginx.ingress.kubernetes.io/auth-realm: "Enter your credentials"
        kubernetes.io/ingress.class: nginx
      tls: []
  loki:
    revisionHistoryLimit: 1
    structuredConfig:
      storage_config:
        cassandra:
          username: cassandra
          password: ${CASSANDRA_PASSWORD}
          addresses: cassandra
          auth: true
          keyspace: lokiindex

        boltdb_shipper:
          active_index_directory: /loki/index
          shared_store: cassandra
          cache_location: /loki/boltdb-cache
      schema_config:
        configs:
        - from: 2020-05-15
          store: boltdb-shipper
          object_store: cassandra
          schema: v11
          index:
            prefix: index_
            period: 48h

      compactor:
        shared_store: cassandra
        working_directory: /var/loki/retention
        compaction_interval: 10m
        retention_enabled: true
        retention_delete_delay: 2h
        retention_delete_worker_count: 150
      limits_config:
        retention_period: 48h
        retention_stream:
        - selector: '{namespace="argocd"}'
          priority: 1
          period: 24h
  write:
    persistence:
      storageClass: "nfs-client"
  read:
    persistence:
      storageClass: "nfs-client"
