controllers:
  main:
    strategy: Recreate
    replicas: 1
    enabled: true
    revisionHistoryLimit: 3
    containers:
      main:
        probes:
          liveness:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 3
              periodSeconds: 10
            enabled: true
            custom: false
            type: TCP
          readiness:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 3
              periodSeconds: 10
            enabled: true
            custom: false
            type: TCP
          startup:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 30
              periodSeconds: 5
            enabled: true
            custom: false
            type: TCP
        image:
          tag: 0.23.1
          repository: ghcr.io/donkie/spoolman
          pullPolicy: IfNotPresent
        strategy:
          type: Recreate
        env:
          TZ: America/New_York
    type: deployment
persistence:
  data:
    accessMode: ReadWriteMany
    storageClass: nfs-client
    enabled: true
    size: 2Gi
    globalMounts:
    - path: /home/app/.local/share/spoolman
      readOnly: false
    type: persistentVolumeClaim
route:
  main:
    kind: HTTPRoute
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - port: 8000
        name: spoolman
        weight: 1
        kind: Service
        group: ""
    enabled: true
    parentRefs:
    - namespace: envoy-gateway-system
      kind: Gateway
      name: main
      group: gateway.networking.k8s.io
    hostnames:
    - spoolman.mattgerega.net
service:
  main:
    primary: true
    ports:
      http:
        primary: true
        port: 8000
        enabled: true
    controller: main
    type: ClusterIP

