persistence:
  data:
    globalMounts:
    - path: /home/app/.local/share/spoolman
      readOnly: false
    type: persistentVolumeClaim
    size: 2Gi
    accessMode: ReadWriteMany
    enabled: true
    storageClass: nfs-client
controllers:
  main:
    revisionHistoryLimit: 3
    type: deployment
    replicas: 1
    containers:
      main:
        strategy:
          type: Recreate
        env:
          TZ: America/New_York
        image:
          repository: ghcr.io/donkie/spoolman
          pullPolicy: IfNotPresent
          tag: 0.22.1
        probes:
          liveness:
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 3
              initialDelaySeconds: 0
            type: TCP
            custom: false
            enabled: true
          readiness:
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 3
              initialDelaySeconds: 0
            type: TCP
            custom: false
            enabled: true
          startup:
            spec:
              timeoutSeconds: 1
              periodSeconds: 5
              failureThreshold: 30
              initialDelaySeconds: 0
            type: TCP
            custom: false
            enabled: true
    strategy: Recreate
    enabled: true
route:
  main:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: traefik-gateway
        namespace: kube-system
    hostnames:
      - spoolman.mattgerega.net
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - name: spoolman
            port: 8000
service:
  main:
    primary: true
    type: ClusterIP
    ports:
      http:
        primary: true
        port: 8000
        enabled: true
    controller: main

