persistence:
  data:
    enabled: true
    storageClass: nfs-client
    size: 2Gi
    accessMode: ReadWriteMany
    globalMounts:
    - readOnly: false
      path: /home/app/.local/share/spoolman
    type: persistentVolumeClaim
route:
  main:
    enabled: true
    rules:
    - backendRefs:
      - name: spoolman
        kind: Service
        group: ""
        weight: 1
        port: 8000
      matches:
      - path:
          type: PathPrefix
          value: /
    kind: HTTPRoute
    hostnames:
    - spoolman.mattgerega.net
    parentRefs:
    - namespace: envoy-gateway-system
      kind: Gateway
      group: gateway.networking.k8s.io
      name: main
service:
  main:
    ports:
      http:
        primary: true
        port: 8000
        enabled: true
    primary: true
    type: ClusterIP
    controller: main
controllers:
  main:
    enabled: true
    type: deployment
    revisionHistoryLimit: 3
    replicas: 1
    strategy: Recreate
    containers:
      main:
        probes:
          startup:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 30
              periodSeconds: 5
              timeoutSeconds: 1
          liveness:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
          readiness:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
        image:
          pullPolicy: IfNotPresent
          tag: 0.23.0
          repository: ghcr.io/donkie/spoolman
        env:
          TZ: America/New_York
        strategy:
          type: Recreate

