vault:
  ingress:
    enabled: true
    ingressClassName: "nginx"
    hosts:
      - host: hcvault.mattgerega.net
  
  server:
    standalone:
      config: |
        ui = true
        
        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }

        telemetry {
          prometheus_retention_time = "5m"
          disable_hostname = true
        }
    volumes:
      - name: vault-storage-config
        secret:
          defaultMode: 420
          secretName: vault-storage-config
    volumeMounts:
      - name: vault-storage-config
        mountPath: /vault/userconfig/vault-storage-config
        readOnly: true
    extraArgs: -config=/vault/userconfig/vault-storage-config/config.hcl
    dataStorage:
      enabled: false