service:
  main:
    primary: true
    type: ClusterIP
    ports:
      http:
        enabled: false
      metrics:
        primary: true
        enabled: true
        protocol: TCP
        port: 9130
    controller: main
ingress:
  main:
    enabled: false
controllers:
  main:
    type: deployment
    strategy: Recreate
    containers:
      main:
        image:
          repository: ghcr.io/unpoller/unpoller
          pullPolicy: IfNotPresent
          tag: v2.20.0
        env:
          UP_INFLUXDB_DISABLE: true
          TZ: America/New_York
          UP_UNIFI_DEFAULT_URL: https://unifi
        envFrom:
        - secretRef:
            name: unifi-poller
        probes:
          liveness:
            custom: false
            enabled: true
            spec:
              periodSeconds: 10
              failureThreshold: 3
              timeoutSeconds: 1
              initialDelaySeconds: 0
            type: TCP
          startup:
            custom: false
            enabled: true
            spec:
              periodSeconds: 5
              failureThreshold: 30
              timeoutSeconds: 1
              initialDelaySeconds: 0
            type: TCP
          readiness:
            custom: false
            enabled: true
            spec:
              periodSeconds: 10
              failureThreshold: 3
              timeoutSeconds: 1
              initialDelaySeconds: 0
            type: TCP
    enabled: true
    replicas: 1
    revisionHistoryLimit: 3
serviceMonitor:
  main:
    enabled: true
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    endpoints:
    - interval: 1m
      scrapeTimeout: 30s
      path: /metrics
      scheme: http
      port: metrics
influxdb:
  architecture: standalone
  authEnabled: false
  enabled: false
  database: unifi
  persistence:
    enabled: false

