influxdb:
  architecture: standalone
  enabled: false
  persistence:
    enabled: false
  database: unifi
  authEnabled: false
controllers:
  main:
    enabled: true
    strategy: Recreate
    revisionHistoryLimit: 3
    replicas: 1
    type: deployment
    containers:
      main:
        probes:
          startup:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 30
            custom: false
          liveness:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
            custom: false
          readiness:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
            custom: false
        image:
          tag: v2.16.0
          pullPolicy: IfNotPresent
          repository: ghcr.io/unpoller/unpoller
        envFrom:
        - secretRef:
            name: unifi-poller
        env:
          TZ: America/New_York
          UP_INFLUXDB_DISABLE: true
          UP_UNIFI_DEFAULT_URL: https://unifi
serviceMonitor:
  main:
    enabled: true
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    endpoints:
    - scheme: http
      path: /metrics
      interval: 1m
      port: metrics
      scrapeTimeout: 30s
ingress:
  main:
    enabled: false
service:
  main:
    primary: true
    type: ClusterIP
    ports:
      metrics:
        primary: true
        enabled: true
        protocol: TCP
        port: 9130
      http:
        enabled: false
    controller: main

