service:
  main:
    controller: main
    primary: true
    ports:
      metrics:
        primary: true
        protocol: TCP
        enabled: true
        port: 9130
      http:
        enabled: false
    type: ClusterIP
influxdb:
  persistence:
    enabled: false
  authEnabled: false
  architecture: standalone
  enabled: false
  database: unifi
controllers:
  main:
    containers:
      main:
        env:
          UP_INFLUXDB_DISABLE: true
          UP_UNIFI_DEFAULT_URL: https://unifi
          TZ: America/New_York
        image:
          repository: ghcr.io/unpoller/unpoller
          pullPolicy: IfNotPresent
          tag: v2.20.1
        probes:
          liveness:
            custom: false
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
            type: TCP
            enabled: true
          startup:
            custom: false
            spec:
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 30
            type: TCP
            enabled: true
          readiness:
            custom: false
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
            type: TCP
            enabled: true
        envFrom:
        - secretRef:
            name: unifi-poller
    strategy: Recreate
    revisionHistoryLimit: 3
    type: deployment
    enabled: true
    replicas: 1
ingress:
  main:
    enabled: false
serviceMonitor:
  main:
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    endpoints:
    - path: /metrics
      scrapeTimeout: 30s
      scheme: http
      port: metrics
      interval: 1m
    enabled: true

