influxdb:
  authEnabled: false
  architecture: standalone
  enabled: false
  persistence:
    enabled: false
  database: unifi
serviceMonitor:
  main:
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    enabled: false
    endpoints:
    - path: /metrics
      scrapeTimeout: 30s
      interval: 1m
      port: metrics
      scheme: http
controllers:
  main:
    replicas: 1
    enabled: true
    revisionHistoryLimit: 3
    strategy: Recreate
    containers:
      main:
        env:
          UP_UNIFI_DEFAULT_URL: https://unifi
          UP_INFLUXDB_DISABLE: true
          TZ: America/New_York
        envFrom:
        - secretRef:
            name: unifi-poller
        image:
          tag: v2.32.0
          repository: ghcr.io/unpoller/unpoller
          pullPolicy: IfNotPresent
        probes:
          liveness:
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
            custom: false
            type: TCP
            enabled: true
          readiness:
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
            custom: false
            type: TCP
            enabled: true
          startup:
            spec:
              initialDelaySeconds: 0
              failureThreshold: 30
              periodSeconds: 5
              timeoutSeconds: 1
            custom: false
            type: TCP
            enabled: true
    type: deployment
service:
  main:
    controller: main
    annotations:
      metrics.spydersoft.io/scheme: http
      metrics.spydersoft.io/scrape: "true"
      metrics.spydersoft.io/port: "9130"
      metrics.spydersoft.io/path: /metrics
    ports:
      metrics:
        port: 9130
        enabled: true
        primary: true
        protocol: TCP
      http:
        enabled: false
    primary: true
    type: ClusterIP
ingress:
  main:
    enabled: false

