influxdb:
  persistence:
    enabled: false
  authEnabled: false
  enabled: false
  database: unifi
  architecture: standalone
controllers:
  main:
    strategy: Recreate
    replicas: 1
    enabled: true
    revisionHistoryLimit: 3
    containers:
      main:
        probes:
          liveness:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 3
              periodSeconds: 10
            enabled: true
            custom: false
            type: TCP
          readiness:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 3
              periodSeconds: 10
            enabled: true
            custom: false
            type: TCP
          startup:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 30
              periodSeconds: 5
            enabled: true
            custom: false
            type: TCP
        envFrom:
        - secretRef:
            name: unifi-poller
        image:
          tag: v2.33.0
          repository: ghcr.io/unpoller/unpoller
          pullPolicy: IfNotPresent
        env:
          UP_INFLUXDB_DISABLE: true
          TZ: America/New_York
          UP_UNIFI_DEFAULT_URL: https://unifi
    type: deployment
serviceMonitor:
  main:
    endpoints:
    - port: metrics
      path: /metrics
      interval: 1m
      scheme: http
      scrapeTimeout: 30s
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    enabled: false
ingress:
  main:
    enabled: false
service:
  main:
    ports:
      http:
        enabled: false
      metrics:
        primary: true
        port: 9130
        protocol: TCP
        enabled: true
    primary: true
    controller: main
    annotations:
      metrics.spydersoft.io/scheme: http
      metrics.spydersoft.io/port: "9130"
      metrics.spydersoft.io/scrape: "true"
      metrics.spydersoft.io/path: /metrics
    type: ClusterIP

