serviceMonitor:
  main:
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    enabled: false
    endpoints:
    - scheme: http
      interval: 1m
      port: metrics
      scrapeTimeout: 30s
      path: /metrics
influxdb:
  database: unifi
  architecture: standalone
  enabled: false
  persistence:
    enabled: false
  authEnabled: false
service:
  main:
    type: ClusterIP
    primary: true
    ports:
      http:
        enabled: false
      metrics:
        protocol: TCP
        port: 9130
        enabled: true
        primary: true
    annotations:
      metrics.spydersoft.io/path: /metrics
      metrics.spydersoft.io/port: "9130"
      metrics.spydersoft.io/scrape: "true"
      metrics.spydersoft.io/scheme: http
    controller: main
controllers:
  main:
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          tag: v2.34.0
          repository: ghcr.io/unpoller/unpoller
        probes:
          liveness:
            custom: false
            enabled: true
            type: TCP
            spec:
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
          readiness:
            custom: false
            enabled: true
            type: TCP
            spec:
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
          startup:
            custom: false
            enabled: true
            type: TCP
            spec:
              failureThreshold: 30
              periodSeconds: 5
              timeoutSeconds: 1
              initialDelaySeconds: 0
        env:
          TZ: America/New_York
          UP_INFLUXDB_DISABLE: true
          UP_UNIFI_DEFAULT_URL: https://unifi
        envFrom:
        - secretRef:
            name: unifi-poller
    type: deployment
    strategy: Recreate
    replicas: 1
    enabled: true
    revisionHistoryLimit: 3
ingress:
  main:
    enabled: false

