service:
  main:
    primary: true
    type: ClusterIP
    ports:
      metrics:
        primary: true
        protocol: TCP
        enabled: true
        port: 9130
      http:
        enabled: false
    controller: main
serviceMonitor:
  main:
    enabled: true
    serviceName: '{{ include "bjw-s.common.lib.chart.names.fullname" $ }}'
    endpoints:
    - port: metrics
      path: /metrics
      scrapeTimeout: 30s
      interval: 1m
      scheme: http
ingress:
  main:
    enabled: false
controllers:
  main:
    enabled: true
    containers:
      main:
        probes:
          liveness:
            spec:
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
            enabled: true
            custom: false
            type: TCP
          startup:
            spec:
              periodSeconds: 5
              initialDelaySeconds: 0
              failureThreshold: 30
              timeoutSeconds: 1
            enabled: true
            custom: false
            type: TCP
          readiness:
            spec:
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
            enabled: true
            custom: false
            type: TCP
        env:
          UP_UNIFI_DEFAULT_URL: https://unifi
          TZ: America/New_York
          UP_INFLUXDB_DISABLE: true
        image:
          pullPolicy: IfNotPresent
          repository: ghcr.io/unpoller/unpoller
          tag: v2.18.0
        envFrom:
        - secretRef:
            name: unifi-poller
    strategy: Recreate
    type: deployment
    revisionHistoryLimit: 3
    replicas: 1
influxdb:
  enabled: false
  authEnabled: false
  architecture: standalone
  database: unifi
  persistence:
    enabled: false

