mimir-distributed:
  global:
    extraEnvFrom:
      - secretRef:
          name: mimir-minio-secret
  minio: 
    enabled: false
  alertmanager:
    enabled: true
    persistentVolume:
      storageClass: nfs-client
  ingester:
    persistentVolume:
      storageClass: nfs-client
  store_gateway:
    persistentVolume:
      storageClass: nfs-client
  compactor:
    persistentVolume:
      storageClass: nfs-client
  ruler:
    enabled: true
  nginx:
    ingress:
      enabled: true
      hosts:
        - host: "mimir.mattgerega.net"
          paths:
            - path: /
              pathType: Prefix
      annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/service-upstream: "true"
      tls: []
  mimir:
    structuredConfig:
      alertmanager_storage:
        backend: s3
        s3:
          access_key_id: ${MINIO_USERNAME}
          bucket_name: mimir-ruler
          endpoint: 192.168.1.46:9000
          insecure: true
          secret_access_key: ${MINIO_PASSWORD}
      blocks_storage:
        s3:
          access_key_id: ${MINIO_USERNAME}
          bucket_name: mimir-tsdb
          endpoint: 192.168.1.46:9000
          insecure: true
          secret_access_key: ${MINIO_PASSWORD}
      ruler_storage:
        backend: s3
        s3:
          access_key_id: ${MINIO_USERNAME}
          bucket_name: mimir-ruler
          endpoint: 192.168.1.46:9000
          insecure: true
          secret_access_key: ${MINIO_PASSWORD}
      limits:
        max-global-series-per-user: 0

  metaMonitoring:
    serviceMonitor:
      enabled: true
      interval: 1m
      scrapeTimeout: 30s
