grafana:
  podAnnotations:
    linkerd.io/inject: enabled
  service:
    annotations:
      linkerd.io/inject: enabled
  serviceMonitor:
    enabled: false
  grafana.ini:
    azure:
      managed_identity_enabled: true
    server:
      root_url: https://grafana.mattgerega.net
      domain: grafana.mattgerega.net
    auth.azuread:
      token_url: https://login.microsoftonline.com/70965cdd-c60c-4109-9fcf-709b2f23bd0c/oauth2/v2.0/token
      allow_sign_up: true
      scopes: openid email profile
      role_attribute_strict: false
      enabled: true
      auth_url: https://login.microsoftonline.com/70965cdd-c60c-4109-9fcf-709b2f23bd0c/oauth2/v2.0/authorize
      name: Azure AD
    database:
      type: postgres
      host: grafana-postgres
      name: grafana
  revisionHistoryLimit: 1
  envFromSecret: grafana-auth-secret
  persistence:
    storageClassName: nfs-client
    enabled: true
  admin:
    passwordKey: GRAFANA_ADMIN_PASSWORD
    existingSecret: grafana-admin-secret
    userKey: GRAFANA_ADMIN_USER
  ingress:
    path: /
    hosts:
    - grafana.mattgerega.net
    tls: []
    annotations:
      nginx.ingress.kubernetes.io/service-upstream: "true"
      kubernetes.io/ingress.class: nginx
    pathType: Prefix
    enabled: false
  plugins:
  - grafana-piechart-panel
service:
  postgres:
    controller: postgres
    type: ClusterIP
    primary: false
    ports:
      postgres:
        port: 5432
        enabled: true
  main:
    enabled: false
grafanaBackup:
  enabled: true
  schedule: 0 4 * * *
  image:
    tag: v1.4.7
    repository: dealfa/grafana-backup-tool
controllers:
  postgres:
    containers:
      main:
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: postgres-secrets
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: grafana
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
    strategy: Recreate
    revisionHistoryLimit: 3
    enabled: true
    replicas: 1
    type: deployment
  main:
    enabled: false
persistence:
  postgres-data:
    storageClass: nfs-client
    type: persistentVolumeClaim
    size: 300Gi
    accessMode: ReadWriteMany
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
  postgres-init-data:
    type: configMap
    identifier: postgres-init-data
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-grafana-user.sh
    enabled: true
  postgres-secrets:
    type: secret
    enabled: true
    name: postgres-secrets
global:
  nameOverride: postgres
configMaps:
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
            ALTER DATABASE ${POSTGRES_DB} OWNER TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi

