persistence:
  postgres-init-data:
    enabled: true
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-grafana-user.sh
    type: configMap
    identifier: postgres-init-data
  postgres-secrets:
    enabled: true
    type: secret
    name: postgres-secrets
  postgres-data:
    accessMode: ReadWriteMany
    storageClass: nfs-client
    size: 300Gi
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    type: persistentVolumeClaim
    enabled: true
service:
  postgres:
    controller: postgres
    primary: false
    type: ClusterIP
    ports:
      postgres:
        enabled: true
        port: 5432
  main:
    enabled: false
grafanaBackup:
  enabled: true
  schedule: 0 4 * * *
  image:
    repository: dealfa/grafana-backup-tool
    tag: v1.4.6-1
global:
  nameOverride: postgres
grafana:
  persistence:
    enabled: true
    storageClassName: nfs-client
  service:
    annotations:
      linkerd.io/inject: enabled
  envFromSecret: grafana-auth-secret
  admin:
    userKey: GRAFANA_ADMIN_USER
    passwordKey: GRAFANA_ADMIN_PASSWORD
    existingSecret: grafana-admin-secret
  plugins:
  - grafana-piechart-panel
  ingress:
    hosts:
    - grafana.mattgerega.net
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/service-upstream: "true"
    pathType: Prefix
    path: /
    tls: []
    enabled: false
  podAnnotations:
    linkerd.io/inject: enabled
  grafana.ini:
    auth.azuread:
      token_url: https://login.microsoftonline.com/70965cdd-c60c-4109-9fcf-709b2f23bd0c/oauth2/v2.0/token
      allow_sign_up: true
      name: Azure AD
      role_attribute_strict: false
      scopes: openid email profile
      auth_url: https://login.microsoftonline.com/70965cdd-c60c-4109-9fcf-709b2f23bd0c/oauth2/v2.0/authorize
      enabled: true
    azure:
      managed_identity_enabled: true
    database:
      host: grafana-postgres
      type: postgres
      name: grafana
    server:
      root_url: https://grafana.mattgerega.net
      domain: grafana.mattgerega.net
  serviceMonitor:
    enabled: false
  revisionHistoryLimit: 1
controllers:
  postgres:
    revisionHistoryLimit: 3
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          repository: postgres
          tag: 17
        strategy:
          type: Recreate
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: grafana
          name: POSTGRES_DB
        envFrom:
        - secretRef:
            name: postgres-secrets
    strategy: Recreate
    enabled: true
    type: deployment
    replicas: 1
  main:
    enabled: false
configMaps:
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
            ALTER DATABASE ${POSTGRES_DB} OWNER TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true

