grafana:
  revisionHistoryLimit: 1
  envFromSecret: grafana-auth-secret
  admin:
    existingSecret: "grafana-admin-secret"
    userKey: "GRAFANA_ADMIN_USER"
    passwordKey: "GRAFANA_ADMIN_PASSWORD"
  grafana.ini:
    azure:
      managed_identity_enabled: true
    auth.azuread:
      name: Azure AD
      enabled: true
      allow_sign_up: true
      client_id: ${GF_AUTH_AZUREAD_CLIENT_ID}
      client_secret: ${GF_AUTH_AZUREAD_CLIENT_SECRET}
      scopes: openid email profile
      auth_url: https://login.microsoftonline.com/70965cdd-c60c-4109-9fcf-709b2f23bd0c/oauth2/v2.0/authorize
      token_url: https://login.microsoftonline.com/70965cdd-c60c-4109-9fcf-709b2f23bd0c/oauth2/v2.0/token
      role_attribute_strict: false
    server:
      domain: grafana.mattgerega.net
      root_url: "https://grafana.mattgerega.net"
  ingress:
    enabled: true
    path: /
    pathType: Prefix
    hosts:
      - "grafana.mattgerega.net"
    annotations:
      kubernetes.io/ingress.class: nginx
    tls: []
  serviceMonitor:
    enabled: true
  plugins:
  - grafana-piechart-panel
  persistence:
    enabled: true
    storageClassName: nfs-client